[package]
name = "stitch_bindings"
version = "0.1.4"
edition = "2021"

[lib]
crate-type = ["cdylib"]
name = "stitch_core"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# stitch_core = { path = "../stitch"}
stitch_core = { git = "https://github.com/mlb2251/stitch", rev = "d66d3c7"}
pyo3 = {version = "0.17.3", features = ["extension-module", "abi3", "abi3-py37"] }
serde_json = {version = "1.0", features = ["preserve_order"]}
clap = { version = "3.1.0", features = ["derive"]}

[build-dependencies]
pyo3-build-config = "0.17.3"

